.profile__button-edit {
  margin: 37px 18px 0;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background: url(../../../images/Edit_Button.svg) no-repeat center;
  border: 1px solid white;
  /* align-self: end; */
  grid-area: edit-button;
}

@media (max-width: 960px) {
  .profile__button-edit {

    text-align: end;
  }
}
