.popup__container {
  position: relative;
  padding: 34px 36px 37px 36px;
  max-width: 430px;
  min-height: 330px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
  border-radius: 10px;
}

@media (max-width: 617px) {
  .popup__container {
    padding: 25px 22px;
    max-width: 322px;
    max-height: 282px;
  }
}
