.button_type_save {
  margin-top: 48px;
  padding: 15px 0 15px 0;
  min-width: 358px;
  color: white;
  background-color: black;
  border: 0;
  border-radius: 2px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.button_type_save:hover {
  opacity: .8;
}

@media (max-width: 617px) {
  .button_type_save {
    margin-top: 45px;
    min-width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
