.elements {
  margin: 31px 0 66px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

@media (max-width:960px) {
  .elements {
    margin: 31px 19px 66px;
  }
}

@media (max-width:340px) {
  .elements {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
